/* Import Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Body */
body{
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* Navbar */
nav{
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.prediction{
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

span{
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    background: rgb(16, 16, 16);
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
}


/* Main */
main{
    padding: 20px 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Footer */
footer{
    position: sticky;
    left: 0;
    width: 100%;
    bottom: 0;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    padding: 20px 40px;
    bottom: 0;
}

/* Heading */
h1{
    font-size: 30px;
    font-weight: 400;
    color: #000;
}

h2{
    font-size: 25px;
    font-weight: 400;
    color: #000;
}

/* Links */
a{
    text-decoration: none;
    color: #000;
}

a:hover{
    text-decoration: underline;
}

/* form */
form{
    display: flex;
    flex-direction: column;
    width: 70%;

}

form input, form select{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    width: 100%;
}

form input:focus{
    border: 1px solid #000;
}

form button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #000;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

form button:hover{
    background: #333;
}

form label{
    margin-bottom: 5px;
    font-weight: 500;
    color: #000;
}


